body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  padding-top: 5rem;
  margin: 0 auto;
  width: 600px;
}

.rm {
  background: red;
  border-radius: 50%;
  color: #fff;
  border: none;
}

.done {
  text-decoration: line-through;
}

.loader {
  width: 30px;
  height: 30px;
  border: 5px solid #178194;
  border-radius: 50px;
  border-bottom: none;
  will-change: transform;
  animation: spin 1s linear infinite;
  box-sizing: border-box;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}